@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap');
. {
    box-sizing: border-box;
}

body {
    background-color: #C4A4D4;
    color: #000000;
    font-family: 'Poppins', sans-serif;
}
h2 {
    display: inline-block;
    font-size: 2rem;
    color: #000000;
    border-bottom: 2px solid;
}
.btn {
    background-color: #F7930A;
    font-size: 0.8rem;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15); 
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    text-transform: uppercase;
    padding: 20px 35px;
    color: #fff;
    letter-spacing: 0.5px;
    border: none;
}
.container {
    padding: 20px;
    margin: 0 auto;
    max-width: 100%;
    width: 500px;
}
.grid {
    display: grid;
}
 
.meal {
    background-color: #ffffff;    
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.15);    
    display: flex;

}
.meal-img {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    overflow: hidden;
    flex: 1;
}
.meal-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.meal-details {
    padding: 30px;
    position: relative;
    flex: 2;
}
.meal-title {
    color: #C4A4D4;
   margin: 0 0 20px;
}
.meal-instruction {
    font-size: 14px;

}
.meal-info{
    display: flex;
    list-style-type: none;
    padding: 0;
}
.meal-info li {
    color: #555555;
    font-size: 12px;
    font-weight: 300;
    margin-right: 30px;    
}
.meal-info li strong {
    color: #C4A4D4;
    font-size: 16px;
    display: block;
}
.meal-details .btn {
    position: absolute;
    bottom: -10px;
    right: -10px;
}